In [1]:
import pandas as pd
#import urbanaccess as ua
import pandana as pdna
import osmnet as osm
#import urbanaccess.plot
import pandana.network
import time
from simpledbf import Dbf5
import sys
import math
import gmplot
import matplotlib.pyplot as plt

SQLalchemy is not installed. No support for SQL output.

In [2]:
economic_data = pd.read_csv('./data/ca_od_main_JT00_2010.csv')

In [3]:
economic_data = economic_data[['w_geocode', 'S000', 'SA01', 'SA02', 'SA03', 'SE01', 'SE02', 'SE03']]
economic_data = economic_data.groupby('w_geocode').sum()
economic_data.reset_index(inplace = True)

In [9]:
economic_data['S000'].sum(axis=0)

14363254

In [11]:
census_block_db = pd.read_csv('./data/net_am_peak/block_am_closest_node2.csv')

In [12]:
economic_pd = economic_data[['w_geocode','S000','SE01','SE02','SE03']].merge(census_block_db[['GEOID10','node_id','net_lat','net_lon']], left_on='w_geocode', right_on='GEOID10')

In [13]:
economic_pd = economic_pd[['w_geocode','S000','SE01','SE02', 'SE03', 'node_id']]

In [16]:
economic_pd['S000'].sum(axis=0)

3345021

In [8]:
store = pd.HDFStore('./data/net_late_night/net_late_night.h5', "r")
nodes = store.nodes
edges = store.edges
net=pdna.Network(nodes["x"], nodes["y"], edges["from"], edges["to"],
                 edges[["weight"]])

In [17]:
def aggregrate():
    Distance = [20,40,60]
    print "Above"
    sys.stdout.flush()
    name = 'block_jobs_night_above'
    net.set(economic_pd['node_id'], variable=economic_pd.SE03.astype(float), name=name)
    start = time.time()
    for distance in Distance:
        print distance, " minutes"
        sys.stdout.flush()
        start = time.time()
        jobs_num = net.aggregate(distance, type='sum', decay='flat', name=name)
        end = time.time()
        print end - start, "s"
        sys.stdout.flush()
        jobs_pd = jobs_num.to_frame()
        jobs_pd.reset_index(inplace = True)
        jobs_pd = jobs_pd.merge(census_block_db[['node_id','net_lat','net_lon']], left_on='id_int', right_on='node_id',how='right')
        jobs_pd.to_csv('./data/net_late_night/jobs_night_above_'+ str(distance) + '.csv')
        
    print "All"
    sys.stdout.flush()
    name = 'block_jobs_night_all'
    net.set(economic_pd['node_id'], variable=economic_pd.S000.astype(float), name=name)
    start = time.time()
    for distance in Distance:
        print distance, " minutes"
        sys.stdout.flush()
        start = time.time()
        jobs_num = net.aggregate(distance, type='sum', decay='flat', name=name)
        end = time.time()
        print end - start, "s"
        sys.stdout.flush()
        jobs_pd = jobs_num.to_frame()
        jobs_pd.reset_index(inplace = True)
        jobs_pd = jobs_pd.merge(census_block_db[['node_id','net_lat','net_lon']], left_on='id_int', right_on='node_id',how='right')
        jobs_pd.to_csv('./data/net_late_night/jobs_night_all_'+ str(distance) + '.csv')
    
    print "Mediam"
    sys.stdout.flush()
    name = 'block_jobs_night_mediam'
    net.set(economic_pd['node_id'], variable=economic_pd.SE02.astype(float), name=name)
    start = time.time()
    for distance in Distance:
        print distance, " minutes"
        sys.stdout.flush()
        start = time.time()
        jobs_num = net.aggregate(distance, type='sum', decay='flat', name=name)
        end = time.time()
        print end - start, "s"
        sys.stdout.flush()
        jobs_pd = jobs_num.to_frame()
        jobs_pd.reset_index(inplace = True)
        jobs_pd = jobs_pd.merge(census_block_db[['node_id','net_lat','net_lon']], left_on='id_int', right_on='node_id',how='right')
        jobs_pd.to_csv('./data/net_late_night/jobs_night_mediam_'+ str(distance) + '.csv')
        
    print "Below"
    sys.stdout.flush()
    name = 'block_jobs_night_below'
    net.set(economic_pd['node_id'], variable=economic_pd.SE01.astype(float), name=name)
    start = time.time()
    for distance in Distance:
        print distance, " minutes"
        sys.stdout.flush()
        start = time.time()
        jobs_num = net.aggregate(distance, type='sum', decay='flat', name=name)
        end = time.time()
        print end - start, "s"
        sys.stdout.flush()
        jobs_pd = jobs_num.to_frame()
        jobs_pd.reset_index(inplace = True)
        jobs_pd = jobs_pd.merge(census_block_db[['node_id','net_lat','net_lon']], left_on='id_int', right_on='node_id',how='right')
        jobs_pd.to_csv('./data/net_late_night/jobs_night_below_'+ str(distance) + '.csv')
        
    print "all done"

In [18]:
aggregrate()

Above
20  minutes
48.2104439735 s
40  minutes
149.21378088 s
60  minutes
331.404149055 s
All
20  minutes
38.4241111279 s
40  minutes
142.84326005 s
60  minutes
351.508121014 s
Mediam
20  minutes
40.4875109196 s
40  minutes
152.592844963 s
60  minutes
327.94026494 s
Below
20  minutes
44.7753870487 s
40  minutes
138.298427105 s
60  minutes
430.923429966 s
all done

In [ ]:
#end

In [ ]:
name = 'block_jobs_above'

In [15]:

net.set(economic_pd['node_id'], variable=economic_pd.SE03, name=name)

In [ ]:
#net.precompute(31)

In [16]:
start = time.time()
Distance = 60
jobs_num = net.aggregate(Distance, type='sum', decay='flat', name=name)
end = time.time()
print end - start, "s"

8967.62107587 s

In [17]:
jobs_pd = jobs_num.to_frame()
jobs_pd.reset_index(inplace = True)

In [18]:
jobs_pd = jobs_pd.merge(census_block_db[['node_id','net_lat','net_lon']], left_on='id_int', right_on='node_id',how='right')

In [19]:
jobs_pd.to_csv('./data/jobs_num_above_60.csv')

In [2]:
jobs_pd = pd.read_csv('./data/jobs_num.csv')

In [ ]:
sf_box=(33.67,-118.85, 34.32,-117.67)
net.plot(jobs_pd['0'],bbox=sf_box,
         fig_kwargs={'figsize': [20, 20]},
         bmap_kwargs={'suppress_ticks': False,
                      'resolution': 'h', 'epsg': '26943'},
         plot_kwargs={'cmap': 'BrBG', 's': 8, 'edgecolor': 'none'})

In [23]:
def build_heap_data(job_data):
    heat_lat = []
    heat_lon = []
    for i in range(0, len(job_data)):
        row = job_data.iloc[i]
        job_num = int(row[0] / 1000000)
        if row[0] > 0 and job_num == 0:
            job_num = 1
        for j  in range(0, job_num):
            heat_lat.append(row['net_lat'])
            heat_lon.append(row['net_lon'])
    return heat_lat, heat_lon

In [24]:
heat_lat ,heat_lon = build_heap_data(jobs_pd)

In [26]:
gmap = gmplot.GoogleMapPlotter.from_geocode('Los Angeles')
gmap.heatmap(heat_lat, heat_lon)       
#gmap.scatter(heat_data['net_lat'].values.tolist(),heat_data['net_lon'].values.tolist(),'r',marker=True)
gmap.draw("./data/job_map.html")

In [3]:
plt.scatter(jobs_pd['net_lon'].values.tolist(),jobs_pd['net_lat'].values.tolist(), c=jobs_pd['0'].values.tolist(),s=0.2)
plt.savefig('./data/job_fig_0.02.png', dpi=500)

In [9]:
plt.scatter(economic_pd['net_lat'].values.tolist(),economic_pd['net_lon'].values.tolist(), c=economic_pd['SE03'].values.tolist(),s=0.2)
plt.savefig('./data/job_distribute_fig.png')

In [54]:
economic_distribute

            w_geocode  SE03  node_id    net_lat     net_lon
0        6.037101e+13     0    70136  34.261132 -118.285710
1        6.037101e+13     0    82842  34.262811 -118.287609
2        6.037101e+13     0   129340  34.261186 -118.288515
3        6.037101e+13     0    34838  34.259561 -118.291310
4        6.037101e+13     0    34838  34.259561 -118.291310
5        6.037101e+13     0    34838  34.259561 -118.291310
6        6.037101e+13     0    34838  34.259561 -118.291310
7        6.037101e+13     0    34837  34.256774 -118.291356
8        6.037101e+13     0    34837  34.256774 -118.291356
9        6.037101e+13     0    34837  34.256774 -118.291356
10       6.037101e+13     0    34837  34.256774 -118.291356
11       6.037101e+13     1   155322  34.255922 -118.289799
12       6.037101e+13     0   145074  34.257355 -118.286941
13       6.037101e+13     0    82840  34.261170 -118.287676
14       6.037101e+13     0    82840  34.261170 -118.287676
15       6.037101e+13     0    70135  34.259502 -118.285710
16       6.037101e+13     1    92428  34.257986 -118.284924
17       6.037101e+13     0   156043  34.255950 -118.293173
18       6.037101e+13     0   138906  34.259578 -118.294350
19       6.037101e+13     0    47563  34.255962 -118.295494
20       6.037101e+13     0   104188  34.257424 -118.297923
21       6.037101e+13     0   104188  34.257424 -118.297923
22       6.037101e+13     0   104188  34.257424 -118.297923
23       6.037101e+13     0   104188  34.257424 -118.297923
24       6.037101e+13     1   134178  34.258715 -118.300781
25       6.037101e+13    46     7118  34.256279 -118.299553
26       6.037101e+13     0   150540  34.260994 -118.293327
27       6.037101e+13     0   150540  34.260994 -118.293327
28       6.037101e+13     0   150540  34.260994 -118.293327
29       6.037101e+13     0   150540  34.260994 -118.293327
...               ...   ...      ...        ...         ...
5364142           NaN   NaN   113099  33.988450 -118.432409
5364143           NaN   NaN   218538  34.035444 -118.394280
5364144           NaN   NaN   326026  34.045314 -118.552086
5364145           NaN   NaN   133824  34.041416 -118.218750
5364146           NaN   NaN   214471  34.065328 -118.315644
5364147           NaN   NaN   249443  34.070135 -118.234217
5364148           NaN   NaN   223730  34.070958 -118.234567
5364149           NaN   NaN   242994  34.091606 -118.249657
5364150           NaN   NaN    96685  34.095653 -118.168497
5364151           NaN   NaN   262843  34.091585 -118.329456
5364152           NaN   NaN   262536  34.110952 -118.335764
5364153           NaN   NaN   142955  34.111729 -118.322401
5364154           NaN   NaN   219279  34.115660 -118.186156
5364155           NaN   NaN   114228  34.104882 -118.276611
5364156           NaN   NaN   185324  34.070539 -118.406827
5364157           NaN   NaN   185427  34.070797 -118.392872
5364158           NaN   NaN   219295  34.126317 -118.166619
5364159           NaN   NaN   374529  34.122953 -118.247971
5364160           NaN   NaN   140261  33.758299 -118.311368
5364161           NaN   NaN   317823  33.781117 -118.352690
5364162           NaN   NaN    69048  33.774152 -118.399700
5364163           NaN   NaN   124512  33.775120 -118.344531
5364164           NaN   NaN   258535  34.163411 -118.127066
5364165           NaN   NaN    54405  34.171008 -118.147337
5364166           NaN   NaN   155093  34.162512 -118.139731
5364167           NaN   NaN   115294  34.172516 -118.185530
5364168           NaN   NaN   258526  34.162140 -118.128224
5364169           NaN   NaN    31787  34.163435 -118.182010
5364170           NaN   NaN   367487  34.137141 -118.266448
5364171           NaN   NaN    84422  34.135272 -118.646627

[5364172 rows x 5 columns]

In [52]:
census_block_db

,Unnamed: 0,GEOID10,INTPTLAT10,INTPTLON10,node_id,net_lat,net_lon
0,0,60373006004026,34.197078,-118.231718,105686,34.197488,-118.230563
1,1,60373106012020,34.191093,-118.326216,385060,34.191174,-118.325751
2,2,60373102023003,34.190033,-118.295874,19961,34.191326,-118.294945
3,3,60373007015000,34.202718,-118.237676,351970,34.204203,-118.237912
4,4,60373007015006,34.191512,-118.230884,53415,34.190716,-118.229702
5,5,60371278052004,34.191199,-118.461271,87534,34.190304,-118.460847
6,6,60371277122002,34.195727,-118.471103,127162,34.195322,-118.470555
7,7,60371279202007,34.196203,-118.437260,61711,34.194844,-118.437812
8,8,60371310202017,34.196664,-118.537958,36230,34.195683,-118.537324
9,9,60373106022002,34.196748,-118.320611,24771,34.195841,-118.320774
10,10,60371277122004,34.195739,-118.473526,157408,34.195726,-118.474911
11,11,60373103001002,34.196962,-118.311026,24794,34.195597,-118.312005
12,12,60373103002006,34.196942,-118.316678,24773,34.195729,-118.317785
13,13,60371348001011,34.190832,-118.566948,230987,34.191082,-118.566610
14,14,60371232061007,34.191187,-118.371017,147360,34.191083,-118.371779
15,15,60371232051005,34.191247,-118.383959,135655,34.190320,-118.383426
16,16,60371232042007,34.191212,-118.392686,147352,34.191219,-118.392144
17,17,60371320011009,34.191535,-118.516193,137068,34.192670,-118.516948
18,18,60371232051006,34.191248,-118.382868,150236,34.190320,-118.382331
19,19,60371278032002,34.196646,-118.452543,84826,34.196653,-118.453099
20,20,60371232032000,34.195749,-118.388358,139460,34.195834,-118.388942
21,21,60374803021002,34.104451,-118.116364,119023,34.103958,-118.116647
22,22,60374800022001,34.127803,-118.085606,188586,34.127028,-118.086154
23,23,60374801021013,34.106315,-118.082481,136809,34.106270,-118.082791
24,24,60374801023006,34.107180,-118.085684,145576,34.107194,-118.086342
25,25,60374801022022,34.103672,-118.085590,355421,34.103391,-118.085282
26,26,60374802012008,34.112346,-118.116210,117763,34.111828,-118.115822
27,27,60374800022011,34.114962,-118.082361,136814,34.115484,-118.083269
28,28,60374801021018,34.105928,-118.079655,119099,34.106285,-118.079855
29,29,60374802013010,34.104287,-118.108393,87391,34.104351,-118.107800
...,...,...,...,...,...,...,...
109552,109552,60374608001008,34.172763,-118.186716,115294,34.172516,-118.185530
109553,109553,60374609002004,34.172487,-118.156278,124577,34.171952,-118.157293
109554,109554,60374626001005,34.162824,-118.119494,129014,34.161723,-118.119957
109555,109555,60374616002011,34.163579,-118.158609,165660,34.163428,-118.159334
109556,109556,60374625002005,34.162927,-118.100775,15365,34.163242,-118.098534
109557,109557,60374624003003,34.162510,-118.128876,258526,34.162140,-118.128224
109558,109558,60374616002010,34.164021,-118.159324,354034,34.164153,-118.159835
109559,109559,60374608001004,34.164084,-118.182194,31787,34.163435,-118.182010
109560,109560,60374626001002,34.163881,-118.114351,108811,34.164112,-118.113079
109561,109561,60374617001012,34.168123,-118.166131,191197,34.168637,-118.165599
109562,109562,60373021022001,34.136924,-118.236925,129468,34.137280,-118.237234
109563,109563,60373024014009,34.137102,-118.266556,367487,34.137141,-118.266448
109564,109564,60373025062014,34.125371,-118.249776,120027,34.125668,-118.248713
109565,109565,60373025062007,34.129147,-118.250855,19910,34.129666,-118.251205
109566,109566,60373021025005,34.131370,-118.237968,294544,34.131092,-118.238137
109567,109567,60373025033003,34.137623,-118.249805,219381,34.137154,-118.249907
109568,109568,60371438003004,34.134997,-118.385865,60001,34.136450,-118.385454
109569,109569,60371438003009,34.132570,-118.385147,77180,34.133724,-118.384739
109570,109570,60371437001013,34.132908,-118.350415,373613,34.132652,-118.350068
109571,109571,60371897013025,34.132481,-118.344499,8274,34.132526,-118.344406
109572,109572,60373024013002,34.131854,-118.263885,222089,34.131572,-118.264510
109573,109573,60373023021002,34.138169,-118.262582,154030,34.139966,-118.262512
109574,109574,60373021023004,34.138558,-118.240683,364494,34.138751,-118.239596
109575,109575,60373021024006,34.133064,-118.240539,19437,34.132649,-118.239431
109576,109576,60373025063001,34.133217,-118.242745,18230,34.132651,-118.242341
109577,109577,60371416003006,34.133555,-118.468685,154861,34.134183,-118.469147
109578,109578,60373023023000,34.138763,-118.256437,285243,34.139245,-118.257208
109579,109579,60378002022010,34.134928,-118.646775,84422,34.135272,-118.646627
109580,109580,60378001012023,34.132886,-118.613125,52517,34.132108,-118.611220
109581,109581,60373025041001,34.134326,-118.245456,304975,34.134123,-118.245663

In [38]:
economic_data

             w_geocode  S000  SA01  SA02  SA03  SE01  SE02  SE03
0       60014001001000  2265   366  1285   614   295   596  1374
1       60014001001005     9     1     5     3     0     3     6
2       60014001001006    16     4     7     5     1     4    11
3       60014001001007  7468  1234  4273  1961   931  1985  4552
4       60014001001008    78    10    44    24    11    17    50
5       60014001001009   597    85   359   153    93   141   363
6       60014001001010   129    24    79    26    15    38    76
7       60014001001012   382    56   220   106    38   106   238
8       60014001001013   361    61   217    83    49    98   214
9       60014001001014   597    94   349   154    63   171   363
10      60014001001015     6     0     6     0     1     2     3
11      60014001001016   228    39   121    68    25    52   151
12      60014001001017     8     0     3     5     2     0     6
13      60014001001018    90    17    46    27    11    22    57
14      60014001001024     6     1     3     2     2     2     2
15      60014001001025     1     0     1     0     0     1     0
16      60014001001026     4     0     2     2     2     1     1
17      60014001001027     7     2     2     3     3     0     4
18      60014001001030  1084   167   634   283   149   257   678
19      60014001001032     3     1     1     1     1     1     1
20      60014001001033     7     3     2     2     2     1     4
21      60014001001036    17     4     9     4    12     3     2
22      60014001001039     6     0     6     0     1     2     3
23      60014001001041     1     0     0     1     1     0     0
24      60014001001044     1     0     0     1     1     0     0
25      60014001001046     3     0     2     1     0     3     0
26      60014001001047     1     0     1     0     0     1     0
27      60014001001049     1     0     1     0     0     1     0
28      60014001001051     1     1     0     0     0     1     0
29      60014001001053     1     0     0     1     0     1     0
...                ...   ...   ...   ...   ...   ...   ...   ...
275719  61150411001215     3     0     3     0     1     2     0
275720  61150411001222    22     1    11    10     8    10     4
275721  61150411002012     3     1     0     2     3     0     0
275722  61150411002042     5     0     3     2     2     3     0
275723  61150411002070     1     0     1     0     1     0     0
275724  61150411002077     1     0     1     0     1     0     0
275725  61150411002080    12     1     4     7     7     3     2
275726  61150411002082     2     0     1     1     0     2     0
275727  61150411002085     2     0     1     1     1     1     0
275728  61150411002087   163    34    95    34    71    51    41
275729  61150411002090     1     0     0     1     1     0     0
275730  61150411002105    22     3    11     8     8     4    10
275731  61150411002120     1     0     1     0     0     1     0
275732  61150411002121     4     1     3     0     0     4     0
275733  61150411003013    12     1    10     1     5     4     3
275734  61150411003021     9     0     5     4     1     1     7
275735  61150411003025     1     1     0     0     1     0     0
275736  61150411003029     1     0     1     0     0     1     0
275737  61150411003049     3     0     3     0     2     0     1
275738  61150411003051     1     0     1     0     0     1     0
275739  61150411003052    12     2     6     4     3     6     3
275740  61150411003064    11     2     5     4     3     6     2
275741  61150411004001     2     0     2     0     0     2     0
275742  61150411004016     2     0     2     0     2     0     0
275743  61150411004018     2     0     2     0     1     1     0
275744  61150411004025     1     0     1     0     1     0     0
275745  61150411004027     1     1     0     0     1     0     0
275746  61150411004034     2     0     1     1     2     0     0
275747  61150411004035     1     0     1     0     1     0     0
275748  61150411004047    25     4    12     9    15     8     2

[275749 rows x 8 columns]

In [8]:
economic_pd

            w_geocode  SE03         GEOID10  node_id    net_lat     net_lon
0      60371011101000     0  60371011101000    70136  34.261132 -118.285710
1      60371011101002     0  60371011101002    82842  34.262811 -118.287609
2      60371011101004     0  60371011101004   129340  34.261186 -118.288515
3      60371011101005     0  60371011101005    34838  34.259561 -118.291310
4      60371011101006     0  60371011101006    34837  34.256774 -118.291356
5      60371011101007     1  60371011101007   155322  34.255922 -118.289799
6      60371011101008     0  60371011101008   145074  34.257355 -118.286941
7      60371011101009     0  60371011101009    82840  34.261170 -118.287676
8      60371011101010     0  60371011101010    70135  34.259502 -118.285710
9      60371011101011     1  60371011101011    92428  34.257986 -118.284924
10     60371011102000     0  60371011102000    34838  34.259561 -118.291310
11     60371011102001     0  60371011102001    34837  34.256774 -118.291356
12     60371011102002     0  60371011102002   156043  34.255950 -118.293173
13     60371011102003     0  60371011102003   138906  34.259578 -118.294350
14     60371011102004     0  60371011102004    47563  34.255962 -118.295494
15     60371011102005     0  60371011102005   104188  34.257424 -118.297923
16     60371011102006     0  60371011102006   104188  34.257424 -118.297923
17     60371011102007     1  60371011102007   134178  34.258715 -118.300781
18     60371011102008    46  60371011102008     7118  34.256279 -118.299553
19     60371011103000     0  60371011103000   150540  34.260994 -118.293327
20     60371011103003     0  60371011103003   167596  34.261380 -118.294356
21     60371011103004     0  60371011103004   167594  34.261380 -118.296010
22     60371011103005     0  60371011103005   167594  34.261380 -118.296010
23     60371011103006    83  60371011103006   167593  34.261380 -118.296968
24     60371011103008     0  60371011103008   150540  34.260994 -118.293327
25     60371011221000    10  60371011221000   150533  34.271592 -118.297136
26     60371011221002     1  60371011221002    92307  34.275818 -118.297141
27     60371011221003     0  60371011221003    61736  34.268577 -118.296847
28     60371011221005     0  60371011221005   232907  34.276352 -118.298811
29     60371011221006     0  60371011221006    31109  34.266832 -118.296012
...               ...   ...             ...      ...        ...         ...
66318  60379800331041     4  60379800331041   343264  33.769016 -118.208893
66319  60379800331042     3  60379800331042   132058  33.767972 -118.212559
66320  60379800331043   371  60379800331043   132058  33.767972 -118.212559
66321  60379800331045    24  60379800331045   328493  33.774875 -118.229030
66322  60379800331048   239  60379800331048   183071  33.774511 -118.208794
66323  60379800331052    95  60379800331052   359940  33.754781 -118.233697
66324  60379800331053     1  60379800331053   359959  33.757332 -118.238766
66325  60379800331056     1  60379800331056   359965  33.758374 -118.235235
66326  60379800331066    70  60379800331066   359971  33.759385 -118.225560
66327  60379800331074    13  60379800331074   359951  33.756204 -118.242584
66328  60379800331084    94  60379800331084   223504  33.763751 -118.208718
66329  60379800331091   256  60379800331091   379190  33.746173 -118.196395
66330  60379800331094     3  60379800331094   379107  33.749176 -118.203578
66331  60379800331095     2  60379800331095   171535  33.748874 -118.190647
66332  60379800331097    55  60379800331097   223477  33.752213 -118.206320
66333  60379800331098   130  60379800331098   166110  33.750390 -118.191908
66334  60379800331099    10  60379800331099   166109  33.751854 -118.190174
66335  60379800331100     0  60379800331100   183062  33.750795 -118.191491
66336  60379800331101    22  60379800331101   379310  33.752770 -118.192719
66337  60379800331102     9  60379800331102   183070  33.751049 -118.190917
66338  60379800331103     6  60379800331103   378653  33.747356 -118.189977
66339  60379800331105    22  60379800331105   326716  33.754034 -118.195433
66340  60379800331106    70  60379800331106   318471  33.756060 -118.198699
66341  60379800331107     0  60379800331107   166114  33.757564 -118.200728
66342  60379800331108     8  60379800331108   107204  33.752408 -118.198653
66343  60379800331110     3  60379800331110   202613  33.738693 -118.190435
66344  60379800331111   162  60379800331111   378973  33.740740 -118.192221
66345  60379800331130    77  60379800331130   327685  33.765782 -118.209383
66346  60379800331131     2  60379800331131   327685  33.765782 -118.209383
66347  60379800331133    11  60379800331133   181996  33.759571 -118.241291

[66348 rows x 6 columns]